
  .social-icons {
    display: flex;
    justify-content: center;
}

.social-icons .icon {
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.social-icons .icon:hover {
    transform: scale(1.2);
}

